<% @page_title = "Sign in" %>

<div class="panel shadow center margin-block-double <%= "shake" if flash[:alert] %>" style="--panel-size: 55ch;">
  <h1 class="txt-xx-large margin-block-end-double">Fizzy</h1>

  <%= form_with url: session_path, class: "flex flex-column gap txt-large" do |form| %>
    <div class="flex align-center gap">
      <label class="flex align-center gap input input--actor">
        <%= form.email_field :email_address, required: true, class: "input full-width", autofocus: true, autocomplete: "username", placeholder: "Enter your email address" %>
        <%= icon_tag "email", class: "txt-large" %>
      </label>
    </div>

    <div class="flex align-center gap">
      <label class="flex align-center gap input input--actor">
        <%= form.password_field :password, required: true, class: "input full-width", autocomplete: "current-password", placeholder: "Enter your password", maxlength: 72 %>
        <%= icon_tag "password", class: "txt-large" %>
      </label>
    </div>

    <button type="submit" id="log_in" class="btn btn--reversed center">
      <%= icon_tag "arrow-right" %>
      <span class="for-screen-reader">Sign in</span>
    </button>
  <% end %>
</div>

<% content_for :footer do %>
  <div class="txt-align-center center margin-block-double txt-subtle">Fizzy&trade; version 0</div>
<% end %>
