<%= column_tag id: dom_id(column), name: column.name, drop_url: columns_card_drops_column_path("__id__", column_id: column.id), card_color: column.color.to_s,
      class: "cards--doing", style: "--card-color: #{column.color};",
  data: {
    drag_and_strum_target: "container",
    collapsible_columns_target: "column",
    controller: "clicker",
    action: "turbo:before-stream-render@document->collapsible-columns#restoreState focus->collapsible-columns#focusOnColumn"
  } do %>
  <header class="cards__header">
    <%= render "boards/show/menu/column", column: column %>
    <%= render "boards/show/expander", title: column.name, count: column.cards.active.count, column_id: dom_id(column) %>

    <%= link_to board_column_path(column.board, column), class: "cards__maximize-button btn btn--circle txt-x-small borderless", data: { turbo_frame: "_top" } do %>
      <%= icon_tag "grid", class: "translucent" %>
      <span class="for-screen-reader">Maximize column</span>
    <% end %>
  </header>
  <%= column_frame_tag dom_id(column, :cards), src: board_column_path(column.board, column) %>
<% end %>
