<% @page_title = "Edit #{@bucket.name}" %>

<% content_for :header do %>
  <nav>
    <%= link_to buckets_path, class: "btn flex-item-justify-start" do %>
      <%= image_tag "arrow-left.svg", aria: { hidden: true }, size: 24 %>
      <span class="for-screen-reader">Go back</span>
    <% end %>

    <%= form_with model: @bucket, class: "flex-item-justify-end", method: :delete do |form| %>
      <%= form.button class: "btn btn--negative", data: { turbo_confirm: "Are you sure you want to delete this?" } do %>
        <%= image_tag "minus.svg", aria: { hidden: true }, size: 24 %>
        <span class="for-screen-reader">Delete <%= @bucket.name %></span>
      <% end %>
    <% end %>
  </nav>
<% end %>

<div class="panel shadow center" style="--panel-size: 55ch;">
  <%= form_with model: @bucket, class: "flex flex-column gap txt-large", controller: "form" do |form| %>
    <div class="flex align-center gap">
      <%= translation_button(:bucket_name) %>

      <label class="flex-item-grow txt-large">
        <strong><%= form.text_field :name, name: "bucket[name]", class: "input full-width",
              required: true, autofocus: true, placeholder: "Give it a name…",
              data: { action: "keydown.enter->form#submit:prevent" } %></strong>
      </label>
    </div>

    <section class="margin-block pad-inline fill-shade border-radius">
      <menu class="flex flex-column gap margin-none pad txt-medium" data-controller="filter" data-filter-active-class="filter--active" data-filter-selected-class="selected">
        <li class="flex align-center gap margin-none">
          <figure class="avatar flex-item-no-shrink" style="--avatar-border-radius: 0; --avatar-size: 4ch;">
            <%= image_tag "everyone.svg", aria: { hidden: "true" }, class: "colorize--black" %>
            <span class="for-screen-reader">Everyone</span>
          </figure>

          <div class="min-width">
            <div class="overflow-ellipsis fill-shade"><strong>Everyone</strong></div>
          </div>

          <hr class="separator--horizontal flex-item-grow" style="--border-color: var(--color-subtle-dark); --border-style: dashed" aria-hidden="true" />

          <label for="bucket_all_access" class="switch">
            <%= form.check_box :all_access, class: "switch__input", checked: @bucket.all_access? %>
            <span class="switch__btn round"></span>
            <span class="for-screen-reader">Give everyone access to this project</span>
          </label>
        </li>

        <hr class="separator--horizontal full-width" style="--border-color: var(--color-subtle-dark);" aria-hidden="true" />

        <% if User.active.count > 20 %>
          <input placeholder="Filter…" class="input input--transparent full-width" type="search" autocorrect="off" autocomplete="off" data-1p-ignore="true" data-action="input->filter#filter">
        <% end %>

        <div data-filter-target="list">
          <%= render partial: "buckets/user_toggle", collection: @selected_users, as: :user, locals: { selected: true } %>

          <% if @selected_users.any? && @unselected_users.any? %>
            <hr class="separator full-width" style="--border-style: solid">
          <% end %>

          <%= render partial: "buckets/user_toggle", collection: @unselected_users, as: :user, locals: { selected: false } %>
        </div>
      </menu>
    </section>

    <button type="submit" id="log_in" class="btn btn--reversed center">
      <%= image_tag "check.svg", aria: { hidden: true }, size: 24 %>
      <span class="for-screen-reader">Save</span>
    </button>
  <% end %>
</div>
