<% @page_title = "Projects" %>

<% content_for :header do %>
  <nav>
    <%= link_to account_users_path, class: "btn flex-item-justify-start" do %>
      <%= image_tag "settings.svg", aria: { hidden: true }, size: 24 %>
      <span class="for-screen-reader">Account settings</span>
    <% end %>

    <%= link_to new_bucket_path, class: "btn flex-item-justify-end", style: "view-transition-name: new-bucket" do %>
      <%= image_tag "add.svg", aria: { hidden: true }, size: 24 %>
      <span class="for-screen-reader">Add a new project</span>
    <% end %>
  </nav>
<% end %>

<menu class="buckets margin-none unpad align-center justify-center flex flex-wrap gap">
  <%= render @filters %>
  <%= render @buckets, cached: true %>
</menu>
