<%= turbo_frame_tag "terminal_form" do %>
  <%= form_tag bubbles_path, class: "flex align-center gap-half", method: :get, data: { controller: "form", turbo_frame: "_top" } do %>
    <% @filter.as_params.each do |key, value| %>
      <%= filter_hidden_field_tag key, value, autofocus: true %>
    <% end %>
    
    <label class="terminal__label txt-nowrap" for="fizzy_do">Fizzy do &gt;</label>

    <%= text_field_tag "terms[]", nil, 
        autocomplete: "off",
        autocorrect: "off",
        autocapitalize: "off",
        class: "terminal__input input fill-transparent unpad",
        data: { 
          controller: "filter", 
          action: "keydown.up->toggle-class#toggle:prevent input->filter#filter keydown.esc->form#cancel:prevent"
        },
        id: "fizzy_do",
        placeholder: "Search or type commands…" %>

    <%= link_to "Close terminal and discard changes", terminal_path, data: { form_target: "cancel", turbo_frame: "terminal_form" }, hidden: true %>
  <% end %>
<% end %> 