<% @page_title = "Column: Done" %>

<% content_for :header do %>
  <div class="header__actions header__actions--start">
    <%= link_back_to_board(@board) %>
  </div>

  <h1 class="header__title divider divider--fade full-width">
    <span class="overflow-ellipsis"><%= @page_title %></span>
  </h1>
<% end %>

<section class="cards cards--grid">
  <%= turbo_frame_tag :closed_column do %>
    <% if @page.used? %>
      <%= with_automatic_pagination :closed_column, @page do %>
        <%= render "boards/columns/list", cards: @page.records, draggable: true %>
      <% end %>
    <% else %>
      <%= render "boards/columns/empty_placeholder" %>
    <% end %>
  <% end %>
</section>
